<%provide(:title, 'About Us')%>
    <h1>About Us</h1>
    <p>
      The <a href="https://bitcoin.org/en/">Bitcoin information page</a>
      is a project about Bitcoins
      with. This
      is the application for my Cloud Development Project
    </p>
  