<% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
      This is the contact page Here is my email address
      <a href="mailto:email@darsedoyle@gmail.com?subject=Bitcoin Information">Darren Doyle</a>
      sample application.
    </p>
  