<% provide(:title, 'Tutorial') %>
  <div class="body">
    <div id="content" class="content">
    <h1>Support Bitcoin</h1>
<p class="summarytxt">Bitcoin is a protocol that was born from a small community and has grown fast since. There are a lot of things you can do to help Bitcoin to spread and improve over time.</p>

<h2><img class="titleicon" src="/img/ico_multi.svg" alt="Icon" />Using Bitcoin</h2>
<p><a href="/en/getting-started">Using Bitcoin</a> is the first thing you can do to support Bitcoin. There are probably many cases where it can make your life easier. You can accept payments and make purchases with Bitcoin.</p>

<h2><img class="titleicon" src="assets/images/bitcoin.jpg" alt="Icon" />Be the network</h2>
<p>You can join the Bitcoin network by keeping <a href="/en/download">full node software</a> running on your computer or dedicated server. Full nodes are securing and relaying all users' transactions. They can be compared to the backbone of the network.</p>


<h2><img class="titleicon" src="/img/ico_mining.svg" alt="Icon" />Mining</h2>
<p>You can start <a href="http://www.bitcoinmining.com/">mining bitcoins</a> to help processing transactions. In order to protect the network, you should join <a href="https://blockchain.info/pools">smaller mining pools</a> and prefer decentralized pools like <a href="http://p2pool.in/">P2Pool</a> or <a href="https://en.bitcoin.it/wiki/Comparison_of_mining_pools">pools</a> with getblocktemplate (GBT) support.</p>


<h2><img class="titleicon" src="/img/ico_translate.svg" alt="Icon" />Translate</h2>
<p>You can help to increase Bitcoin availability by translating or improving translations inside important parts of the Bitcoin ecosystem. Just pick a project you would like to help.</p>

<p><a href="https://www.transifex.com/projects/p/bitcoin/">Bitcoin-Qt</a> - <a href="https://www.transifex.com/projects/p/bitcoinorg/">Bitcoin.org</a> - <a href="https://en.bitcoin.it/wiki/Bitcoin.it_Wiki">Bitcoin Wiki</a> - <a href="https://www.transifex.com/projects/p/bitcoin-wallet/">Bitcoin Wallet (Android)</a> - <a href="http://translate.multibit.org/">MultiBit</a> - <a href="http://crowdin.net/project/electrum">Electrum</a> - <a href="https://github.com/hivewallet/hive-osx/wiki/I18n-guide">Hive</a></p>


<h2><img src="/images/bitcoin.jpg" alt="Icon" />Development</h2>
<p>Bitcoin is free software. So if you are a developer, you can use your super-powers to do good and <a href="/en/development">improve Bitcoin</a>. Or you can build amazing new services or software that can use Bitcoin.</p>

<h2><img class="titleicon" src="/img/ico_donate.svg" alt="Icon" />Donation</h2>
<p>The easiest way to help is to <a href="https://bitcoinfoundation.org/donate">donate</a> a few bitcoins to the Bitcoin Foundation. Or you can help directly fund any project related to Bitcoin that you believe will be helpful in the future.</p>


<h2><img class="titleicon" src="/img/ico_law.svg" alt="Icon" />Organizations</h2>
<p>The <a href="https://bitcoinfoundation.org/">Bitcoin Foundation</a> and many other <a href="/en/community#non-profit">non-profit organizations</a> are dedicated to protecting and promoting Bitcoin. You can help these groups by joining them and taking part in their projects, discussions and events.</p>


<h2><img class="titleicon" src="/img/ico_spread.svg" alt="Icon" />Spread</h2>
<p>Speak about Bitcoin to interested people. Write about it on your blog. Tell your favorite shops you would like to pay with Bitcoin. Help keeping <a href="http://usebitcoins.info/">merchant directories</a> up to date. Or be creative and make yourself a nice Bitcoin T-shirt.</p>

<h2><img class="titleicon" src="/img/ico_wiki.svg" alt="Icon" />Wiki</h2>
<p>The <a href="https://en.bitcoin.it/">Bitcoin wiki</a> is full of useful and detailed information and we are constantly improving the information it contains - just like Wikipedia. You can help keep the wiki accurate and up-to-date.</a>

<h2><img class="titleicon" src="/img/ico_help.svg" alt="Icon" />Meet the communities</h2>
<p>You can join Bitcoin <a href="/en/community">communities</a> and talk with other Bitcoin enthusiasts. You can learn more about Bitcoin every day, give help to new users and get involved in interesting projects.</p>

    </div>