<% provide(:title, 'Video') %>
    <h1>Videos</h1>
    <p>
      This is the video page Here is my email address
      <a href="mailto:email@darsedoyle@gmail.com?subject=Bitcoin Information">Darren Doyle</a>
      if you want to contact me
    </p>
     <legend>What is bitcoin?</legend>
    <div class="video-container">
         <iframe src="http://www.youtube.com/embed/Um63OQz3bjo" frameborder="0" width="560" height="315"></iframe>

</div>
 <legend>Bitcoin For Beginners - Learn How To Mine Bitcoin !</legend>
    <div class="video-container">
         <iframe src="http://www.youtube.com/embed/j7opj5-32hw" frameborder="0" width="560" height="315"></iframe>

</div>
 <legend>BitCoin for Beginners - Mac OS Mining, Tips, Mining Software, Wallets And More ! Part 2</legend>
    <div class="video-container">
         <iframe src="http://www.youtube.com/embed/ZEV3QFj19u8" frameborder="0" width="560" height="315"></iframe>

</div>
<legend>BitCoin For Beginners - POOLS - Top 3 Mining Pools - Trading and Exchanging - Part 3 1/2</legend>
    <div class="video-container">
         <iframe src="http://www.youtube.com/embed/pvrVtCOGTWY" frameborder="0" width="460" height="115"></iframe>
</div>

  