
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    
  </aside>
      <p><iframe height="820" width="100%" src="https://www.statsmix.com/d/16e3031a50573d8bdc31" frameborder="0" scrolling="no"></iframe></p>
	<a class="twitter-timeline" href="https://twitter.com/BitCoinReporter" data-widget-id="449192622590918657">Tweets by @BitCoinReporter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>